# users-svc
POSTGRES_USER=users_admin
POSTGRES_PASSWORD=change-me
POSTGRES_DB=users_db
DATABASE_URL=postgresql://users_admin:change-me@users-db:5432/users_db
JWT_SECRET=change-me
ALGORITHM=HS256

# notif-svc
NOTIF_POSTGRES_USER=notif_admin
NOTIF_POSTGRES_PASSWORD=change-me
NOTIF_POSTGRES_DB=notif_db
NOTIF_DATABASE_URL=postgresql://notif_admin:change-me@notif-db:5432/notif_db

# booking-svc (comparte JWT_SECRET y ALGORITHM con users-svc)
BOOKING_POSTGRES_USER=booking_admin
BOOKING_POSTGRES_PASSWORD=change-me
BOOKING_POSTGRES_DB=booking_db
BOOKING_DATABASE_URL=postgresql://booking_admin:change-me@booking-db:5432/booking_db

# consul (service discovery)
CONSUL_HOST=consul
CONSUL_PORT=8500
CONSUL_SERVICE_NAME=users-svc
CONSUL_SERVICE_ID=users-svc-8003
CONSUL_SERVICE_ADDRESS=users-svc
CONSUL_SERVICE_PORT=8003
CONSUL_HEALTH_PATH=/healthz
