# users-svc
POSTGRES_USER=users_admin
POSTGRES_PASSWORD=change-me
POSTGRES_DB=users_db
DATABASE_URL=postgresql://users_admin:change-me@users-db:5432/users_db
JWT_SECRET=change-me
ALGORITHM=HS256

# notif-svc
NOTIF_POSTGRES_USER=notif_admin
NOTIF_POSTGRES_PASSWORD=change-me
NOTIF_POSTGRES_DB=notif_db
NOTIF_DATABASE_URL=postgresql://notif_admin:change-me@notif-db:5432/notif_db
